
<body style="background-color:#e8e8e8;">


      <!--依slide為一個單位-->
      <div class="slide">
        <div class="Main_scroll">
          <div class="Main">
            <div class="titleA">Login<span></span></div>
            <div class="adminMain"> 
            <form id="loginForm" action="{:U('Login/doLogin')}" enctype="multipart/form-data" method="post" onSubmit="javascript:if($('#id_fb').val()==''){if(($('#verifyCode').val()=='')||($('#login_ac').val()=='')||($('#login_pw').val()=='')){alert('資料輸入不完整, 請再確認');return false;}}" >
              <!--1-->
              <li >
                <div class="textA">會員帳號</div>
                <div class="textB">請以E-MAIL登入</div>
                <input id="login_ac" type="text" name="login_ac" placeholder="請輸入帳號" value="" />
              </li>
              
              <!--1-->
              <li>
                <div class="textA">會員密碼</div>
                <input id="login_pw" type="password" name="login_pw" placeholder="請輸入密碼" value="" />
              </li>

              
              <!--1-->
              <li >
                <input class="btn_rwd" type="submit" value="確認送出" />
                <!--跳出視窗-->
                <a class="fancybox fancybox.iframe" href="{:U('Login/forgot')}"><input class="btn_rwd" type="button" value="忘記密碼" onClick="" /></a>
                <!--<input class="btn_rwd" type="button" value="忘記密碼" onClick="self.location.href='{:U('Login/forgot')}'" />-->
                <input class="btn_rwd" type="button" value="加入會員" onClick="self.location.href='{:U('Join/gojoin')}'" />
                <!--fb id-->
                <input id="id_fb" type="hidden" name="fb_count"/>
              </li>
              
            </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--container end--> 
</div>
</body>

<include file="Public:footer" />


</html>