<include file="Public:header" />

<body style="background-color:#e8e8e8;">

<include file="Public:menu" />
      
      <!--依slide為一個單位-->
      <div class="slide">
        <div class="Main_scroll">
          <div class="Main">
            <div class="titleA">Facebook登入設定</div>
            <div class="adminMain">
              <div class="tabA">歡迎使用Focebook 帳號快速登入2535 購物網！</div>
              <div class="tabA">設定完成您即可以自己的Focebook帳號及2535 帳號登入購物。</div>
              <div class="tabA" style="color:#333333">
                <input name="" type="radio" value="">
                我已是2535購物網會員(登入即完成設定)</div>
              
              <!--1-->
              <li style="border-top:1px solid #cccccc">
                <div class="textA">連接帳號</div>
                <div class="fbB">FB接帳號XXXXXXXX</div>
              </li>
              
              <!--1-->
              <li>
                <div class="textA">請輸入您的2535購物網帳號：</div>
                <input type="text" >
              </li>
              
              <!--1-->
              <li>
                <div class="textA">請輸入密碼：</div>
                <input type="text" >
              </li>
              
              <!--1-->
              <li style="border-bottom:1px solid #cccccc">
                <div class="textA">請輸入驗證碼：</div>
                <input type="text" >
                <p style="margin-top:10px;"><img src="__PUBLIC__/images/testFiles/verify.jpg"></p>
              </li>
              
              <!--1-->
              <li style="border-bottom:1px solid #cccccc">
                <p>
                  <input name="" type="radio" value="">
                  我不是2535購物網會員</p>
                <div class="textA">連接帳號</div>
                <div class="fbB">FB接帳號XXXXXXXX</div>
              </li>
              
              <!--1-->
              <li style="text-align:center; margin:20px 0;">
                <input type="button" value="確認送出">
              </li>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--container end--> 
</div>
</body>

<include file="Public:footer" />
</html>