<!-- footer start -->
<footer _height="none" class="window_color">
	
	<div class="copyright">
		潘嶧德 版權所有 Copyrightc2012 All Rights Reserved . Designed by Michael <?=date('Y',time())?>  
	</div>
</footer>



</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.4.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/fancybox/jquery.fancybox.js?v=2.1.4"></script>
<!-- fancybox控制設定 -->
<script type="text/javascript" src="__PUBLIC__/js/fancybox.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/filecontrol.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.contextmenu.js"></script>
</html>
