<!-- slidy start -->

<script src="__PUBLIC__/js/cssslidy.js" type="text/javascript"></script>
<script>
  cssSlidy({
	timeOnSlide: 5,
	timeBetweenSlides: .5,
	slidyContainerSelector: '#slidy-container',
	slidySelector: '#slidy',
	captionSource: 'data-caption',
	captionBackground: 'rgba(0,0,0,0.5)',
	captionColor: '#ff0',
	captionFont: 'Raleway, Brittanic Bold, Hevetica, sans-serif',
	captionPosition: 'bottom',
	captionAppear: 'perm',
	captionSize: '16px',
	captionPadding: '1em',
	/*fallbackFunction: function(){ alert("Oh noes! You can't animate!"); },*/
	cssAnimationName: 'slidy'
  });
</script>

<!-- slidy end -->